.hashtag {
    color: cornflowerblue;
}

.social-icon {
    color: white;
    font-size: 25px;
}

.downloadPlatforms {
    /*opacity: 0.4;*/
    /*filter: alpha(opacity=40); !* msie *!*/
}

.mr-8 {
    margin-right: 8px;
}

.verse {
    font-weight: bold;
    font-style: italic;
    font-family: Cardo;
}

.front {
    color: #f77b72;
    font-weight: 600;
}

a:hover {
    color: #f83932;
}
